html{
	background: #fff url(https://66.media.tumblr.com/cd459b5ccabb717e8fb23376e8d10d2c/tumblr_mrkslsy7nd1s7jutto2_250.png); 
}
body {
	font-family: 'Bebas Neue', cursive;
	color: black;
	}
p{
	font-size: 18pt;
	text-align: center;
}

h1{
	margin-left: 20px;
}
