html{
	background: #fff url(https://66.media.tumblr.com/cd459b5ccabb717e8fb23376e8d10d2c/tumblr_mrkslsy7nd1s7jutto2_250.png); 
}
body {
	font-family: 'Bebas Neue', cursive;
	color: black;
	}
p{
	font-size: 18pt;
	text-align: center;
}

h1{
	margin-left: 20px;
}
.typing{
	float: right;
	margin-right: 20px;
}
.person{
	background-color: white;
	border: solid black;
	border-radius: 5px;
	width: 700px;
	height: 500px;
	margin-bottom: 20px;
	margin-right: 10px;
	display: inline-block;
}
img{
	width: 400px;
	float: left;
	padding-right: 10px;
}
